h1{
    margin: 0 auto;
    text-align: center;
    width: 250px;
}

h2{
    margin: auto;
    text-align: center;
    width: 250px;
}

h3{
    margin: auto;
    text-align: center;
    width: 250px;
}

h4{
    margin: auto;
    text-align: center;
    width: 250px;
}

h5{
    margin: auto;
    text-align: center;
    width: 250px;
}

h6{
    margin: auto;
    text-align: center;
    width: 250px;
}